@inherits MvvmComponentBase<GoodReturnViewModel>

<SectionContent SectionName="Is-BackButton">
    <BackButtonAction/>
    @(new MarkupString($@"&nbsp;&nbsp;List Good Receipt PO"))
</SectionContent>
<FluentLayout Style="margin-top: 0;">
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent Class="body-content" Style="height:90% !important;">
            <div class="content-xs" id="top-nav">
                <div class="search-container">
                    <FluentGrid Spacing="2" OnBreakpointEnter="@UpdateGridSize" AdaptiveRendering="true">
                        <FluentGridItem xs="12" sm="12" md="6" lg="4" xl="4">
                            <FluentSearch @bind-Value="_searchValue"
                                          @bind-Value:after="OnSearch"
                                          Immediate="true"
                                          ImmediateDelay="500"
                                          Placeholder="Search for name"
                                          style="width: 100%;"
                                          Id="FluentSearch"/>
                        </FluentGridItem>
                    </FluentGrid>
                </div>
                <!-- #endregion -->
                <!-- #region For Each CardBox -->
                <div class="pull-up-demo">
                    <FluentPullToRefresh Id="main-menu"
                                         Direction="@PullDirection.Up"
                                         OnRefreshAsync="OnRefreshAsync"
                                         TipHeight="30"
                                         DragDistance="75"
                                         ShowStaticTip="false">
                        <ChildContent>
                            <div class="pull-content">
                                @foreach (var obj in _scrollingData)
                                {
                                    <FluentCard MinimalStyle="true" Style="width: 100%; margin-bottom: 10px;" @onclick="(e) => OnClickCopy(obj.DocEntry)">
                                        <FluentGrid Spacing="2" AdaptiveRendering="true">
                                            <FluentGridItem xs="6" sm="6">
                                                <FluentLabel>@Convert.ToDateTime(obj.DocDate).ToShortDateString()</FluentLabel>
                                            </FluentGridItem>
                                            <FluentGridItem xs="6" sm="6">
                                                <FluentLabel>@obj.DocumentNumber</FluentLabel>
                                            </FluentGridItem>
                                            <FluentGridItem xs="6" sm="6">
                                                <FluentLabel>@obj.VendorCode</FluentLabel>
                                            </FluentGridItem>
                                            <FluentGridItem xs="6" sm="6">
                                                <FluentLabel>@obj.Remarks</FluentLabel>
                                            </FluentGridItem>
                                        </FluentGrid>
                                    </FluentCard>
                                }
                            </div>
                        </ChildContent>
                    </FluentPullToRefresh>
                </div>
                <!-- #endregion -->
            </div>
        </FluentBodyContent>
    </FluentStack>
    <AnchorNavigation Url="/GoodReturn/Mobile/ListGoodReceiptPo/#top-nav"/>
</FluentLayout>