@rendermode InteractiveWebAssembly
@implements IDialogContentComponent<Dictionary<string, object>>
<style>
    .fluent-toast-provider {
        z-index: 10050 !important; /* Adjust this value as needed */
    }

    .grid {
        overflow-y: auto;
        z-index: 10050 !important; /* Adjust this value as needed */
    }

    .fluent-anchored-region{
        position: fixed !important;
    }
</style>
@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.AddCircle())"/>
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>
@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="SaveAsync">Save</FluentButton>
</FluentDialogFooter>
@* Body *@
<FluentDialogBody Style="overflow-y:scroll;">
    <FluentLayout Style="margin-top: 0;">
        <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
            <FluentBodyContent Class="body-content" Style="overflow: auto">
                <div class="content">
                    <FluentGrid Spacing="2" OnBreakpointEnter="@UpdateGridSize" AdaptiveRendering="true">
                        <FluentGridItem xs="12" sm="4" lg="6" xl="6">
                            <FluentAutocomplete Required
                                                TOption="Items"
                                                Width="100%"
                                                Placeholder="Item Master Data"
                                                OnOptionsSearch="OnSearch"
                                                MaximumOptionsSearch="1"
                                                Label="Item Code"
                                                Virtualize="true"
                                                Items="_item"
                                                MaximumSelectedOptions="1"
                                                OptionText="@(item => $"{item.ItemCode} - {item.ItemName}")"
                                                @bind-SelectedOptions="@_selectedItem"
                                                ValueChanged="@((value)=>UpdateItemDetails(value??""))"/>
                        </FluentGridItem>
                        <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                            <FluentNumberField Label="Price" @bind-Value="@DataResult.Price" style="width: 100%;">
                            </FluentNumberField>
                        </FluentGridItem>
                        <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                            <FluentNumberField @bind-Value="@DataResult.Qty" Label="Qty" style="width: 100%;">
                            </FluentNumberField>
                        </FluentGridItem>
                        <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                            <FluentSelect Width="100%"
                                          TOption="VatGroups"
                                          Required
                                          Label="Vat Code"
                                          Items="_vatGroup"
                                          OptionText="@(i => i.Code)"
                                          OptionValue="@(i => i.Code)"
                                          SelectedOption="_vatGroup?.FirstOrDefault()"
                                          @bind-Value="@DataResult.VatCode"/>
                        </FluentGridItem>
                        <FluentGridItem xs="12" sm="4" lg="3" xl="3">
                            <FluentSelect Width="100%"
                                          TOption="Warehouses"
                                          Required
                                          Label="Warehouse"
                                          Items="_warehouses"
                                          OptionText="@(i => i.Name)"
                                          OptionValue="@(i => i.Code)"
                                          SelectedOption="_warehouses?.FirstOrDefault()"
                                          @bind-Value="@DataResult.WarehouseCode"/>
                        </FluentGridItem>

                    </FluentGrid>
                    @if (_isItemBatch)
                    {
                        <FluentButton Style="margin-top:20px" OnClick="AddLineToBatchOrSerialAsync" IconEnd="@(new Icons.Regular.Size24.AddCircle().WithColor(Color.Success))">
                            Add Line
                        </FluentButton>
                        <div class="grid" style="width: 100%; overflow-x:auto;">
                            <FluentDataGrid TGridItem=@BatchDeliveryOrder ResizableColumns="true"
                                            GridTemplateColumns="1fr 1fr 0.5fr 1fr 1fr 1fr 1fr"
                                            Items="_batchReceiptPo.AsQueryable()"
                                            Style=@dataGrid>
                                <TemplateColumn Tooltip="true" Title="Action">
                                    <FluentButton Style="color:#BC2F32" OnClick="(e) => DeleteLineFromBatchOrSerial(_batchReceiptPo.IndexOf(context))" IconEnd="@(new Icons.Regular.Size24.Delete().WithColor(Color.Error))">
                                        Delete
                                    </FluentButton>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Batch Code">
                                    <FluentAutocomplete Required
                                                        TOption="GetBatchOrSerial"
                                                        Width="100%"
                                                        Placeholder="Serial Code"
                                                        OnOptionsSearch="OnSearchSerial"
                                                        MaximumOptionsSearch="1"
                                                        Virtualize="true"
                                                        Items="_serialBatchDeliveryOrders"
                                                        MaximumSelectedOptions="1"
                                                        OptionText="@(item => $"{item.SerialBatch}")"
                                                        @bind-SelectedOptions="@context.OnSelectedBatchOrSerial"
                                                        ValueChanged="@(e => OnSelectedSerialOrBatch(e??"", _batchReceiptPo.IndexOf(context), "Batch"))"/>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Qty">
                                    <FluentNumberField @bind-Value=@context.Qty Placeholder="Qty" TValue="double"/>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Qty Available">
                                    <FluentNumberField ReadOnly Value="@context.QtyAvailable" Placeholder="Qty"></FluentNumberField>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Expire Date">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentTextField ReadOnly Value="@(context!.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Expire Date">
                                        </FluentTextField>
                                    }
                                    else
                                    {
                                        <FluentTextField Value="@(context.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Expire Date">
                                        </FluentTextField>
                                    }
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Manfecture Date">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentTextField ReadOnly Value="@(context!.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Manfecture Date"></FluentTextField>
                                    }
                                    else
                                    {
                                        <FluentTextField Value="@(context.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Manfecture Date"></FluentTextField>
                                    }
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Admission Date">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentTextField ReadOnly Value="@(context!.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Admission Date"></FluentTextField>
                                    }
                                    else
                                    {
                                        <FluentTextField Value="@(context.ExpDate.HasValue ? context.ExpDate.Value.ToShortDateString() : "")" Placeholder="Admission Date"></FluentTextField>
                                    }
                                </TemplateColumn>
                            </FluentDataGrid>
                        </div>
                    }
                    @if (_isItemSerial)
                    {
                        <FluentButton Style="margin-top:20px" OnClick="AddLineToBatchOrSerialAsync" IconEnd="@(new Icons.Regular.Size24.AddCircle().WithColor(Color.Success))">
                            Add Line
                        </FluentButton>
                        <div class="grid" style="width: 100%; overflow-x:auto;">
                            <FluentDataGrid TGridItem=@SerialDeliveryOrder ResizableColumns="true"
                                            GridTemplateColumns="1fr 1fr 0.5fr 1fr 1fr 1fr 1fr"
                                            Items="_serialReceiptPo.AsQueryable()"
                                            Style=@dataGrid>
                                <TemplateColumn Tooltip="true" Title="Action">
                                    <FluentButton Style="color:#BC2F32" OnClick="(e) => DeleteLineFromBatchOrSerial(_serialReceiptPo.IndexOf(context))" IconEnd="@(new Icons.Regular.Size24.Delete().WithColor(Color.Error))">
                                        Delete
                                    </FluentButton>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Serial Code">
                                    <FluentAutocomplete Required
                                                        TOption="GetBatchOrSerial"
                                                        Width="100%"
                                                        Placeholder="Serial Code"
                                                        OnOptionsSearch="OnSearchSerial"
                                                        MaximumOptionsSearch="1"
                                                        Virtualize="true"
                                                        Items="_serialBatchDeliveryOrders"
                                                        MaximumSelectedOptions="1"
                                                        OptionText="@(item => $"{item.SerialBatch}")"
                                                        @bind-SelectedOptions="@context.OnSelectedBatchOrSerial"
                                                        ValueChanged="@((e) => OnSelectedSerialOrBatch(e??"", _serialReceiptPo.IndexOf(context), "Serial"))"/>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Qty">
                                    <FluentNumberField ReadOnly @bind-Value=@context.Qty Placeholder="Qty">
                                    </FluentNumberField>
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Manfecture Code">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentTextField @bind-Value=@context!.MfrNo Placeholder="MfrNo" ReadOnly></FluentTextField>
                                    }
                                    else
                                    {
                                        <FluentTextField @bind-Value=@context.MfrNo Placeholder="MfrNo"></FluentTextField>
                                    }
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Expire Date">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentDatePicker @bind-Value="context!.ExpDate" Placeholder="Expire Date" ReadOnly>
                                        </FluentDatePicker>
                                    }
                                    else
                                    {
                                        <FluentDatePicker @bind-Value="context.ExpDate" Placeholder="Expire Date">
                                        </FluentDatePicker>
                                    }
                                </TemplateColumn>
                                <TemplateColumn Tooltip="true" Title="Manfecture Date">
                                    @if (context?.OnSelectedBatchOrSerial.Count() != 0)
                                    {
                                        <FluentDatePicker @bind-Value=@context!.MfrDate Placeholder="Manfecture Date" ReadOnly></FluentDatePicker>
                                    }
                                    else
                                    {
                                        <FluentDatePicker @bind-Value=@context.MfrDate Placeholder="Manfecture Date"></FluentDatePicker>
                                    }
                                </TemplateColumn>
                            </FluentDataGrid>
                        </div>
                    }
                </div>
            </FluentBodyContent>
        </FluentStack>
    </FluentLayout>
</FluentDialogBody>