<SectionContent SectionName="Is-BackButton">
    <FluentButton IconEnd="@(new Icons.Regular.Size20.ArrowCircleLeft())"
                  Title="Back"
                  OnClick="@(e => IsViewDetail())"
                  Class="margin-xs"/>
    @(new MarkupString($@"&nbsp;&nbsp;Add Batch"))
</SectionContent>
<FluentLayout Style="margin-top: 0;">
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <FluentBodyContent Class="body-content" Style="overflow: auto">
            <div class="content">
                <FluentGrid Spacing="2" OnBreakpointEnter="@UpdateGridSize" AdaptiveRendering="true">

                    <FluentGridItem xs="12" sm="4" lg="6" xl="6">
                        <div style="display:flex">
                            <FluentTextField Value="@BatchReceiptPo.BatchCode" 
                                             style="width: 100%;"
                                             AutoComplete="off"/>
                            <FluentButton IconEnd="@(new Icons.Filled.Size20.QrCode())"
                                          OnClick="OnClickGenerateBatchSerial"
                                          Appearance="Appearance.Accent"/>
                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="12">
                        <FluentNumberField Label="Qty" @bind-Value="@BatchReceiptPo.Qty" style="width: 100%;">
                        </FluentNumberField>
                    </FluentGridItem>
                    <FluentGridItem xs="12">
                        <FluentDatePicker Value="@BatchReceiptPo.ExpDate"
                                          Label="Expire Date"
                                          style="width: 100%;"/>
                    </FluentGridItem>
                    <FluentGridItem xs="12">
                        <FluentDatePicker Value="@BatchReceiptPo.ManufactureDate"
                                         Label="Manufacturer Date"
                                         style="width: 100%;"/>
                    </FluentGridItem>
                    <FluentGridItem xs="12">
                        <FluentDatePicker Value="@BatchReceiptPo.AdmissionDate"
                                         Label="Admission Date"
                                         style="width: 100%;"/>
                    </FluentGridItem>
                </FluentGrid>
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FloatActionButton Icon="@(new Icons.Regular.Size20.Add())"
                       Title="@(IsUpdate ? "Update" : "Add")"
                       Callback="@(e => SaveBatch(BatchReceiptPo))"/>
    @if (IsUpdate)
    {
        <FloatActionButton Icon="@(new Icons.Regular.Size20.Delete())"
                           Title="Delete"
                           Callback="@(e => DeleteBatch(Index))"
                           Position="FloatActionButton.PositionEnum.Left"
                           ColorButton="Color.Error"/>
    }

</FluentLayout>